#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}
button {
  display: inline-block;
  color: black;
  background: burlywood;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  padding: 5px;
}
span {
  display: block;
  margin-top: 10px;
}
